.App {
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    padding: 2rem 4rem;
    border-radius: 8px;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 16px;
}

.header {
    margin-bottom: 1rem;
}

.header p {
    color: rgb(85, 85, 85);
    margin: .25rem;
}

.card__box {
    cursor: pointer;
    position: relative;
}

.card {
    position: absolute;
    transition: transform 0.4s ease-out;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 3px solid black;
}

.card__front {
    font-size: 32px;
    background-color: #f4c531;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__back {
    background-color: white;
    transform: rotateY(180deg);
    padding: .5rem;
}

.visible .card__back {
    transform: rotateY(0deg);
}

.visible .card__front {
    transform: rotateY(180deg);
}

.restart {
    margin-top: 2rem;
    padding: .5rem 2rem;
    border: none;
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .2s;
}

.restart:active {
    transform: scale(.95);
}